.Container{
    text-align: center;
    margin: top 23px;
   border-radius: 21px;
}
table{
    margin: auto;
    border-radius: 21px;
}
input{
    border: 5px solid #244624;
    font-size: 33px;
    border-radius: 21px;
    background-color: rgb(145, 34, 90);

    

}
button{
    font-size: 40px;
     background:rgb(53, 75, 125);
     width: 102px;
     height: 58px;
     border-radius: 21px;
    
}
.calculator{
    display: inline-block;
    background-color: rgb(23, 150, 122);
}
body{
background-color: goldenrod;
}
h1{
    color: crimson;
    font-size: 78px;
}